#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

#login .form {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 480px;
  padding: 50px 15px 50px 10px;
  border-radius: 20px;
}

#login .field {
  padding-bottom: 0.5rem;
}

#login .field label {
  display: block;
}

#login .field input {
  width: 100%;
}

#login .actions {
  text-align: center;
  margin-top: 0.5rem;
}

.title {
  color: #FFF;
  margin: 0;
}

.description {
  color: #FFF;
  margin-bottom: 50px;
}

button {
  background-color: #000;
  color: #FFF;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
}

